# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
dist/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Misc
*.txt
*.log
!README.md
