--extra-index-url https://download.pytorch.org/whl/cpu
google-generativeai
django
django-cors-headers
pillow
torch==2.0.1+cpu
torchvision==0.15.2+cpu
opencv-python-headless
numpy
joblib
scikit-learn
matplotlib
gunicorn
whitenoise
